version: '3'

services:
  web:
    build: .
    command: sh -c "python manage.py migrate && daphne -b 0.0.0.0 -p 8000 einvestment.asgi:application"
    volumes:
      - .:/Einvestment
      - static_volume:/Einvestment/staticfiles
      - media_volume:/Einvestment/mediafiles
    ports:
      - "8020:8000"
    depends_on:
      - einvestment_db
      - redis
    restart: always

  einvestment_db:
    image: postgres:latest
    environment:
      POSTGRES_DB: einvestment
      POSTGRES_USER: user_einvestment
      POSTGRES_PASSWORD: password_einvestment
    ports:
      - "5435:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always


  redis:
    image: redis:alpine
    ports:
      - "6371:6379"
    volumes:
      - redis_data:/data
    restart: always

volumes:
  postgres_data:
  static_volume:
  media_volume:
  redis_data:
