 <!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
    integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <script src="https://cdn.tailwindcss.com"></script>
  <title>E-investment</title>
</head>

<body ">
  <style>
    body{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      background-color: #f7f7f7;
    }
    .key{
      border-radius: 50%;
      width: 100px;
      height: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color:rgb(19, 169, 19);
    }

  </style>
  <div class=" bg-gray-100">
  <div class="bg-white p-6  flex flex-col items-center  md:mx-auto">
    <div class="key my-[10px]  mx-6 text-[100px] text-[green]">
      <i class="fa-solid fa-key text-[50px] text-[#fff] "></i>
    </div>


    <div class="text-center">
      <h3 class="md:text-2xl text-base  font-semibold text-center text-[green]">{{ message }}</h3>
      <p class="text-gray-600 my-2 ">Password changed successfully</p>
      <p> e-investment </p>

    </div>
  </div>
  </div>

</body>


</html>
